<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <span @click="click">abc</span>
        <comp v-model="msg">slot</comp>
        <!-- <input  type="checkbox" v-model="msg" checked>
        <span v-for="item in items" :key="item">{{item}}</span> -->
    </div>
    <script src="../dist/vue.js"></script>
    <script>
        // Vue.component('comp', {
        //     template: `<div><slot>没有传递内容的话, 这就是默认内容</slot></div>`
        // })
        const comp = {
            props: ['msg'],
            model: {
                prop: 'msg',
                event: 'cc'
            },
            template: `<div @click="$emit('cc', 'abc')"><slot>没有传递内容的话, 这就是默认内容</slot><span>{{msg}}</span></div>`
        }
        new Vue({
            el: '#app',
            data: {
                items: [1,2,3,4],
                msg: ''
            },
            components: {
                comp
            },
            methods: {
                handleClick(a) {
                    alert(a)
                },
                click() {
                    console.log('abc', this)
                }
            }
        })
    </script>
</body>
</html>